@model WebApplication2.Models.ViewModels.IndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="az">

<head>
    @* esas *@
    <meta charset="utf-8">
    <title>Meliogis.com</title>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <![endif]-->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#2d71e2" />
    <meta name="msapplication-TileImage" content="/assets/images/favicon.png">
    <meta name="msapplication-TileColor" content="#2d71e2" />
    <meta name="msapplication-navbutton-color" content="#2d71e2" />
    <meta name="theme-color" content="#2d71e2" />
    <meta name="robots" content="noindex, nofollow, noarchive, noodp, noydir" />
    <meta name="country" content="Azerbaijan" />
    <meta name="language" content="Azerbaijani" />
    <meta name="content-language" content="az_AZ" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="designer" content="Kamal Balayev" />
    <meta name="generator" content="Beekoder web studio" />
    <meta name="copyright" content="Ontravel.com (c) 2017 Bütün hüquqlar qorunur" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Description" />
    <link rel="canonical" href="http://www.ontravel.az/" />
    <!-- Icons -->
    <link rel="shortcut icon" href="~/Public/assets/images/favicon.png" />
    <!-- Styles -->
    <link rel="stylesheet" href="~/Public/assets/css/main.css" />
    <link rel="stylesheet" href="~/Public/assets/css/pi.css">
    <link rel="stylesheet" href="~/Public/assets/icons/style.css" />
    <style>


        html, body, #mapDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="https://js.arcgis.com/3.26/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.26/esri/css/esri.css">

    <script src="https://js.arcgis.com/3.26/"></script>

    <script>
        var Latitude = 49.465965;
        var Longitude = 40.437018;
        var zoommap = 8;
        var map;

        function MapFunction(e) {
            
            require([
                "esri/map",
                "esri/InfoTemplate",
                "esri/layers/ArcGISDynamicMapServiceLayer",
                "esri/dijit/BasemapToggle",
                "esri/layers/ImageParameters",
                "esri/layers/FeatureLayer",
                "esri/symbols/SimpleFillSymbol",
                "esri/symbols/SimpleLineSymbol",
                "esri/tasks/IdentifyTask",
                "esri/tasks/IdentifyParameters",
                "esri/dijit/Popup",
                "dojo/_base/array",
                "esri/Color",
                "dojo/dom-construct",
                "dojo/dom",
                "dojo/on",
                "dojo/query",
                "dojo/domReady!"                
            ],
                function (Map, InfoTemplate, ArcGISDynamicMapServiceLayer, BasemapToggle, ImageParameters, FeatureLayer, SimpleFillSymbol,
                    SimpleLineSymbol, IdentifyTask, IdentifyParameters, Popup, arrayUtils, Color, domConstruct, dom, on, query) {
                    var layer, visibleLayerIds = [];

                    var identifyTask, identifyParams;


                    map = new Map("mapDiv", {
                        basemap: "topo",
                        zoom: zoommap,          // Sets the initial scale to 1:50,000,000
                        center: [Latitude, Longitude],  // Sets the center point of view with lon/lat
                        showLabels: true,
                        sliderPosition: "bottom-right"
                    });

                    
                    var toggle = new BasemapToggle({
                        map: map,
                        basemap: "topo"
                    }, "topo");

                    var toggle1 = new BasemapToggle({
                        map: map,
                        basemap: "satellite"
                     }, "satellite");

                     toggle2 = new BasemapToggle({
                        map: map,
                        basemap: "osm"
                    }, "streets");

                    toggle.startup();
                    toggle1.startup();
                    toggle2.startup();
                    
                    var popup = new Popup({
                        fillSymbol: new SimpleFillSymbol(SimpleFillSymbol.STYLE_SOLID,
                            new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
                                new Color([255, 0, 0]), 2), new Color([255, 255, 0, 0.25]))
                    }, domConstruct.create("div"));
                   
                    //Use the ImageParameters to set the visibleLayerIds layers in the map service during ArcGISDynamicMapServiceLayer construction.
                    var imageParameters = new ImageParameters();
                    imageParameters.layerIds = [22];
                    imageParameters.layerOption = ImageParameters.LAYER_OPTION_SHOW;
                    //can also be: LAYER_OPTION_EXCLUDE, LAYER_OPTION_HIDE, LAYER_OPTION_INCLUDE

                    //layer = new ArcGISDynamicMapServiceLayer("http://213.154.5.139:8021/arcgis/rest/services/Melo_2310/MapServer",
                    layer = new ArcGISDynamicMapServiceLayer("http://10.10.1.253:6080/arcgis/rest/services/Melo_2310/MapServer",
                        { "imageParameters": imageParameters });
                    //var parcelUrl = "http://213.154.5.139:8021/arcgis/rest/services/Melo_2310/MapServer";
                    var parcelUrl = "http://10.10.1.253:6080/arcgis/rest/services/Melo_2310/MapServer";

                    map.addLayer(layer);

                    on(dom.byId("channel-Magistral"), "change", updateLayerVisibility);
                    on(dom.byId("channel-1"), "change", updateLayerVisibility);
                    on(dom.byId("channel-2"), "change", updateLayerVisibility);
                    on(dom.byId("channel-3"), "change", updateLayerVisibility);
                    on(dom.byId("channel-Closed"), "change", updateLayerVisibility);
                    on(dom.byId("drenaj-Magistral"), "change", updateLayerVisibility);
                    on(dom.byId("drenaj-1"), "change", updateLayerVisibility);
                    on(dom.byId("drenaj-2"), "change", updateLayerVisibility);
                    on(dom.byId("drenaj-3"), "change", updateLayerVisibility);
                    on(dom.byId("drenaj-Closed"), "change", updateLayerVisibility);
                    on(dom.byId("network-12"), "change", updateLayerVisibility);
                    on(dom.byId("network-15"), "change", updateLayerVisibility);
                    on(dom.byId("network-16"), "change", updateLayerVisibility);
                    on(dom.byId("network-17"), "change", updateLayerVisibility);
                    on(dom.byId("network-18"), "change", updateLayerVisibility);
                    on(dom.byId("network-19"), "change", updateLayerVisibility);
                    on(dom.byId("network-20"), "change", updateLayerVisibility);
                    on(dom.byId("network-21"), "change", updateLayerVisibility);
                    on(dom.byId("network-14"), "change", updateLayerVisibility);
                    
                    function updateLayerVisibility() {
                        var inputs = query(".showmap");
                        var inputCount = inputs.length;
                        //in this application layer 2 is always on.
                        visibleLayerIds = [22];

                        for (var i = 0; i < inputCount; i++) {
                            if (inputs[i].checked) {
                                visibleLayerIds.push(inputs[i].value);
                            }                            
                        }

                        if (visibleLayerIds.length === 0) {
                            visibleLayerIds.push(-1);
                        }

                        layer.setVisibleLayers(visibleLayerIds);
                    }
                    
                    map.on("click", executeIdentifyTask);
                    
                    function executeIdentifyTask(event) {
                        //create identify tasks and setup parameters

                        

                            identifyTask = new IdentifyTask(parcelUrl);

                            identifyParams = new IdentifyParameters();
                            identifyParams.tolerance = 3;
                            identifyParams.returnGeometry = true;
                            identifyParams.layerIds = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18];
                            identifyParams.layerOption = IdentifyParameters.LAYER_OPTION_ALL;
                            identifyParams.width = map.width;
                            identifyParams.height = map.height;
                            //identifyParams.geometry = event.mapPoint;
                            identifyParams.mapExtent = map.extent;
                                                       

                                var deferred = identifyTask
                                    .execute(identifyParams)
                                    .addCallback(function (response) {
                                        // response is an array of identify result objects
                                        // Let's return an array of features.

                                        return arrayUtils.map(response, function (result) {
                                            var feature = result.feature;
                                            var layerName = result.layerName;
                                            var buildingFootprintTemplateDepart;

                                            feature.attributes.layerName = layerName;
                                            console.log(layerName);
                                            if (layerName === 'Channels_Main') {
                                                var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("Magistral Kanallar", "Adı: ${NAME}<br>Təyinatı: ${ASSIGMENT} <br> Yerləşdiyi Ərazi: ${SERVERD_REGION},Su götürmə mənbəyi: ${SOURCE},İstismara verildiyi tarix: ${EXPLONATION_DATE},Xidmət etdiyi SİB - lərin adı: ${SIBS} <br> Xidmət etdiyi region: ${SERVERD_REGION} <br> Xidmət etdiyi sahə: ${SERVED_AREA} HA <br> Uzunluğu: ${FACTICAL_LENGTH} (KM) ${KIND}:${COVER_TYPE} <br> Coğrafi uzunluğu: ${SHAPE.STLength()} <br> Su buraxma qabiliyyəti: ${WATER_CAPABILITY} m³/san <br> Su mühafizə zonasının eni: ${} <br> Texniki vəziyyəti: ${TECHNICAL_CONDITION} <br> Mülkiyyətçisi : ${PROPERTY} <br> Mülkiyyət növü: ${PROPERTY_TYPE} <br> Fəaliyyətdə olub - olmaması: Fəaliyyətdədir <br> Üzərindəki qurğuların sayı: ${DEVICE_SUM}");
                                                feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            }
                                            else if (layerName === 'Channels_1') {
                                                var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("1ci dərəcəli Kanallar", "Adı: ${NAME} <br> Təyinatı: ${ASSIGMENT} <br> Yerləşdiyi Ərazi: ${SERVERD_REGION},Su götürmə mənbəyi: ${SOURCE},İstismara verildiyi tarix: ${EXPLONATION_DATE},Xidmət etdiyi SİB - lərin adı: ${SIBS} <br> Xidmət etdiyi region: ${SERVERD_REGION} <br> Xidmət etdiyi sahə: ${SERVED_AREA} HA <br> Uzunluğu: ${FACTICAL_LENGTH} (KM) ${KIND}:${COVER_TYPE} <br> Coğrafi uzunluğu: ${SHAPE.STLength()} <br> Su buraxma qabiliyyəti: ${WATER_CAPABILITY} m³/san <br> Su mühafizə zonasının eni: ${} <br> Texniki vəziyyəti: ${TECHNICAL_CONDITION} <br> Mülkiyyətçisi : ${PROPERTY} <br> Mülkiyyət növü: ${PROPERTY_TYPE} <br> Fəaliyyətdə olub - olmaması: Fəaliyyətdədir <br> Üzərindəki qurğuların sayı: ${DEVICE_SUM}");
                                                feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            }
                                            else if (layerName === 'Channels_2') {
                                                var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("2ci dərəcəli Kanallar", "Adı: ${NAME} <br> Təyinatı: ${ASSIGMENT} <br> Yerləşdiyi Ərazi: ${SERVERD_REGION},Su götürmə mənbəyi: ${SOURCE},İstismara verildiyi tarix: ${EXPLONATION_DATE},Xidmət etdiyi SİB - lərin adı: ${SIBS} <br> Xidmət etdiyi region: ${SERVERD_REGION} <br> Xidmət etdiyi sahə: ${SERVED_AREA} HA <br> Uzunluğu: ${FACTICAL_LENGTH} (KM) ${KIND}:${COVER_TYPE} <br> Coğrafi uzunluğu: ${SHAPE.STLength()} <br> Su buraxma qabiliyyəti: ${WATER_CAPABILITY} m³/san <br> Su mühafizə zonasının eni: ${} <br> Texniki vəziyyəti: ${TECHNICAL_CONDITION} <br> Mülkiyyətçisi : ${PROPERTY} <br> Mülkiyyət növü: ${PROPERTY_TYPE} <br> Fəaliyyətdə olub - olmaması: Fəaliyyətdədir <br> Üzərindəki qurğuların sayı: ${DEVICE_SUM}");
                                                feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            }
                                            else if (layerName === 'Channels_3') {
                                                var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("3cü dərəcəli Kanallar", "Adı: ${NAME} <br> Təyinatı: ${ASSIGMENT} <br> Yerləşdiyi Ərazi: ${SERVERD_REGION},Su götürmə mənbəyi: ${SOURCE},İstismara verildiyi tarix: ${EXPLONATION_DATE},Xidmət etdiyi SİB - lərin adı: ${SIBS} <br> Xidmət etdiyi region: ${SERVERD_REGION} <br> Xidmət etdiyi sahə: ${SERVED_AREA} HA <br> Uzunluğu: ${FACTICAL_LENGTH} (KM) ${KIND}:${COVER_TYPE} <br> Coğrafi uzunluğu: ${SHAPE.STLength()} <br> Su buraxma qabiliyyəti: ${WATER_CAPABILITY} m³/san <br> Su mühafizə zonasının eni: ${} <br> Texniki vəziyyəti: ${TECHNICAL_CONDITION} <br> Mülkiyyətçisi : ${PROPERTY} <br> Mülkiyyət növü: ${PROPERTY_TYPE} <br> Fəaliyyətdə olub - olmaması: Fəaliyyətdədir <br> Üzərindəki qurğuların sayı: ${DEVICE_SUM}");
                                                feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            }
                                            else if (layerName === 'Channels_Closed') {
                                                var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("Qapalı Kanallar", "Adı: ${NAME} <br> Təyinatı: ${ASSIGMENT} <br> Yerləşdiyi Ərazi: ${SERVERD_REGION},Su götürmə mənbəyi: ${SOURCE},İstismara verildiyi tarix: ${EXPLONATION_DATE},Xidmət etdiyi SİB - lərin adı: ${SIBS} <br> Xidmət etdiyi region: ${SERVERD_REGION} <br> Xidmət etdiyi sahə: ${SERVED_AREA} HA <br> Uzunluğu: ${FACTICAL_LENGTH} (KM) ${KIND}:${COVER_TYPE} <br> Coğrafi uzunluğu: ${SHAPE.STLength()} <br> Su buraxma qabiliyyəti: ${WATER_CAPABILITY} m³/san <br> Su mühafizə zonasının eni: ${} <br> Texniki vəziyyəti: ${TECHNICAL_CONDITION} <br> Mülkiyyətçisi : ${PROPERTY} <br> Mülkiyyət növü: ${PROPERTY_TYPE} <br> Fəaliyyətdə olub - olmaması: Fəaliyyətdədir <br> Üzərindəki qurğuların sayı: ${DEVICE_SUM}");
                                                feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            }
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_3') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("3cü dərəcəli kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_M') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("Magistral kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_2') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("2ci dərəcəli kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_3') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("3cü dərəcəli kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_M') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("Magistral kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_2') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("2ci dərəcəli kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_3') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("3cü dərəcəli kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_M') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("Magistral kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_2') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("2ci dərəcəli kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_3') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("3cü dərəcəli kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_M') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("Magistral kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}
                                            //else if (layerName === 'MeloDB_0918.DBO.drenaj_2') {
                                            //    var buildingFootprintTemplateDrenaj_1 = new InfoTemplate("2ci dərəcəli kollektorlar", "Adı: ${NAME}");
                                            //    feature.setInfoTemplate(buildingFootprintTemplateDrenaj_1);
                                            //}

                                            return feature;
                                        });

                                    });

                                // InfoWindow expects an array of features from each deferred
                                // object that you pass. If the response from the task execution
                                // above is not an array of features, then you need to add a callback
                                // like the one above to post-process the response and return an
                                // array of features.
                                map.infoWindow.setFeatures([deferred]);
                                map.infoWindow.show(event.mapPoint);
                            
                        
                        
                    }

                });
        }
        
    </script>

</head>

<body>
<!-- Header -->
<header class="header clear w-100p">

    <a href="" title="Meliogis" class="logo float-left" lang="en">
        <strong>
            <span class="hide-xxs">Meliogis</span>
        </strong>
    </a>

    <form class="search-form relative bg-white float-left tr-3s mr-5">

        <div class="input-group">

            <input type="search" id="search-input" class="input no-border" placeholder="Axtar">

            <span class="input-group-btn">
                <button type="button" class="btn bg-white no-border" aria-label="Axtar">
                    <i aria-hidden="true" class="icon-search"></i>
                </button>

                <button type="button" class="search-toggle btn bg-white no-border hide-lg hide-md hide-sm" aria-label="Bağla">
                    <i aria-hidden="true" class="icon-close"></i>
                </button>

            </span>
        </div>

        <div class="search-filter animated fadeInUp mt-5 bg-white shadow w-100p light scroll" role="dialog" hidden>

            <div class="filter-list src-result" role="group" aria-hidden="true">

                <ul class="type-none m-0 p-0" role="listbox" aria-hidden="true">
                    <li role="listitem" class="pt-7 pb-7 pl-15 pr-15 pointer">
                        <span class="line-camp line-1">
                            <i aria-hidden="true" class="icon-map-pin mr-10"></i>
                            <span>Search result</span>
                        </span>
                    </li>
                </ul>

            </div>

            <div class="empty-result text-center text-gray pt-40 pb-40 border-top" role="presentation" aria-hidden="true" hidden>
                <p class="h1"><i aria-hidden="true" class="fa fa-search"></i></p>
                <span>Uyğun nəticə tapılmadı</span>
            </div>

        </div>

    </form>

    <div class="float-left clear mr-5">
        <div class="drop district-menu float-left">

            <span role="button" class="drop-toggle btn bg-white no-border caret" id="district-menu-search" aria-label="Rayonlar" aria-haspopup="true" aria-expanded="true">
                Rayon seç
            </span>

            <div class="drop-menu static animated fadeInUp mt-5" aria-labelledby="district-menu-search">
                <div class="menu-body SearchRegion">
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="rayon-0">
                            <label for="rayon-0">Hamısı</label>
                        </div>
                    </div>
                    @foreach (var region in Model.Regions)
                    {
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="rayon-@region.Region_ID_1">
                            <label for="rayon-@region.Region_ID_1">@region.NAME_AZ</label>
                        </div>
                    </div>
                     }                    
                </div>
            </div>

        </div>

        <div class="drop district-menu float-left">

            <span role="button" class="drop-toggle btn bg-white no-border caret" id="village-menu-search" aria-label="Kəndlər" aria-haspopup="true" aria-expanded="true">
                Kənd seç
            </span>

            <div class="drop-menu static animated fadeInUp mt-5" aria-labelledby="village-menu-search">
                <div class="menu-body villageSearch">
                    @*<div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="all-v">
                            <label for="all-v">Hamısı</label>
                        </div>
                    </div>*@
                </div>
            </div>

        </div>

        <div class="drop district-menu float-left">

            <span role="button" class="drop-toggle btn bg-white no-border caret" id="attribute-menu-search" aria-label="Atributlar" aria-haspopup="true" aria-expanded="true">
                Seç
            </span>

            <div class="drop-menu static animated fadeInUp mt-5" aria-labelledby="attribute-menu-search">
                <div class="menu-body  _Attrribut">
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-0">
                            <label for="type-0">Hamısı</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tych-Magistral">
                            <label for="tych-Magistral">Magistral Kanallar</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tych-1">
                            <label for="tych-1">1-ci dərəcəli Kanallar</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tych-2">
                            <label for="tych-2">2-ci dərəcəli Kanallar</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tych-3">
                            <label for="tych-3">3-ci dərəcəli Kanallar</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tych-Qapalı-Kanallar">
                            <label for="tych-Qapalı-Kanallar">Qapalı Kanallar</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tydj-magistral">
                            <label for="tydj-magistral">Magistral kollektorlar</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tydj-1">
                            <label for="tydj-1">1-ci dərəcəli kollektorlar</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tydj-2">
                            <label for="tydj-2">2-ci dərəcəli yığıcı kollektorlar</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tydj-2">
                            <label for="tydj-2">3-ci dərəcəli ilkin drenlər</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="tydj-Qapalı-drenlər">
                            <label for="tydj-Qapalı-drenlər">Qapalı drenlər</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-2">
                            <label for="type-2">Mühafizə Bəndləri</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-Artezian-Quyuları">
                            <label for="type-Artezian-Quyuları">Artezian Quyuları</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-3">
                            <label for="type-3">Müşahidə Quyuları</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-4">
                            <label for="type-4">Hidrotexniki Qurğular</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-5">
                            <label for="type-5">İdarələr</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-6">
                            <label for="type-6">Nasos Stansiyaları</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-7">
                            <label for="type-7">Binalar ve tikintilər</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-8">
                            <label for="type-8">İstismar yolları</label>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="ckbox">
                            <input type="checkbox" name="rayon" id="type-9">
                            <label for="type-9">Qış otlaqları</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="drop district-menu float-left">
            <span role="button" class="drop-toggle btn bg-white no-border caret" id="water-capasity-search" aria-label="Watercapasity" aria-haspopup="true" aria-expanded="true">
                Seç
            </span>
            <div class="drop-menu static animated fadeInUp mt-5" aria-labelledby="water-capasity-search">
                <div class="menu-item">
                    <span>min</span>
                    <input type="number" id="minvalue" name="name" value="" />
                    <span> max</span>
                    <input type="number" id="maxvalue" name="name" value="" />
                </div>
            </div>
        </div>

        <button type="button" class="btn bg-white no-border float-left" aria-label="Axtar" id="_Modalbutton">
            <i aria-hidden="true" class="icon-check"></i>
        </button>







    </div>

    <div class="drop map-change float-left ml-5">

        <span role="button"
              class="drop-toggle btn bg-white no-border caret mr-5"
              id="map-menu"
              aria-label="Xəritələr"
              aria-haspopup="true"
              aria-expanded="false">
            <i aria-hidden="true" class="icon-map"></i>
        </span>

        <div class="drop-menu static animated fadeInUp mt-5" aria-labelledby="map-menu">
            <div class="menu-header">
                <strong>Xəritə tipi</strong>
            </div>
            <div class="menu-body">
                <div class="ckbox">
                    <input type="radio" name="map-type" id="topo" checked onclick="MapFunction('topo')">
                    <label for="topo">Əsas xəritə</label>
                </div>
                <div class="ckbox">
                    <input type="radio" name="map-type" id="streets" onclick="MapFunction('streets')">
                    <label for="streets">OSM</label>
                </div>
                <div class="ckbox">
                    <input type="radio" name="map-type" id="satellite" onclick="test(this)">
                    <label for="satellite">Bing</label>
                </div>
            </div>
        </div>

    </div>

</header>
<section>
    <!-- Modal -->
    <div id="_ModalContent" class="_modal-layout">
        <div class="_modal-content">
            <div class="_md-header">

            </div>
            <div class="_md-center">
                <table class="sup-filter-modal">
                    <tbody>
                        <tr class="_tabel-rows">
                            <th>Tipler</th>
                            <th>Ümumi Say</th>
                        </tr>
                        <tr class="_tabel-rows"></tr>
                    </tbody>
                </table>
            </div>
            <div class="_md_footer">
                <button class="_close-button">Close</button>
            </div>
        </div>
    </div>
</section>

<!-- Sidebar menu -->
<aside class="main-sidebar bg-white shadow tr-3s" aria-labelledby="side-menu">

    <span role="button"
          aria-hidden="true"
          aria-label="Side toggle"
          class="side-toggle btn bg-white no-border float-right"
          aria-haspopup="true"
          aria-expanded="false" id="side-menu">
        <i aria-hidden="true" class="v-icon icon-menu-nav"></i>
        <i aria-hidden="true" class="h-icon icon-close"></i>
    </span>

    <div class="border-bottom">
        <ul class="tab-nav scrolling-menu float-center mw-100p" role="tablist">

            <li role="presentation" class="active">
                <span role="tab" class="menu-item p-15" data-target-tab="network">
                    <i aria-hidden="true" class="icon-player-random mr-10"></i>
                    Şəbəkələr
                </span>
            </li>

            <li role="presentation">
                <span role="tab" class="menu-item p-15" data-target-tab="layers">
                    <i aria-hidden="true" class="icon-layout-carousel mr-10"></i>
                    Laylar
                </span>
            </li>
            


        </ul>
    </div>

    <div class="tab-content">

        <div class="tab-panel scroll o-auto p-20 active" role="tabpanel" data-tab="network">

            @*<div class="group mb-20">
                <label for="district-menu">Rayonlar</label>

                <div class="drop district-menu w-100p">

                    <span role="button" class="drop-toggle input caret" id="district-menu" aria-label="Rayonlar" aria-haspopup="true" aria-expanded="true">
                        Seç
                    </span>

                    <div class="drop-menu static animated fadeInUp mt-5" aria-labelledby="district-menu">
                        <div class="menu-body RegionList">
                            <div class="menu-item">
                                <div class="ckbox">
                                    <input type="checkbox" name="rayon" id="0000">
                                    <label for="0000">Hamısı</label>
                                </div>
                            </div>
                            @foreach (var region in Model.Regions)
                            {
                                <div class="menu-item">
                                    <div class="ckbox">
                                        <input type="checkbox" name="rayon" id="@region.Region_ID_1">
                                        <label for="@region.Region_ID_1">@region.NAME_AZ</label>
                                    </div>
                                </div>
                            }

                            @*<div class="menu-item">
                                <div class="ckbox">
                                    <input type="checkbox" name="rayon" id="rayon-1">
                                    <label for="rayon-1">Rayon adı</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>*@

            <div class="group mb-20">

                <strong class="d-block mb-10">Açıq suvarma şəbəkəsi</strong>

                <div class="pl-10 _Channel">
                    @*@foreach (var item in Model.Channels)
        {
            if (item.TYPE != null && item.TYPE != " " && item.TYPE != "<Null>")
            {
                int channeltype;
                if (Int32.TryParse(item.TYPE, out channeltype))
                {
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="channel-@item.TYPE">
                        <label for="channel-@item.TYPE">@channeltype -ci dərəcəli kollektorlar</label>
                    </div>
                }
                else
                {
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="channel-@item.TYPE">
                        <label for="channel-@item.TYPE">@item.TYPE</label>
                    </div>
                }
            }
        }*@
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="channel-Magistral" value=17>
                        <label for="channel-Magistral">Magistral Kanallar</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="channel-1" value=12>
                        <label for="channel-1">1-ci dərəcəli Kanallar</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="channel-2" value=13>
                        <label for="channel-2">2-ci dərəcəli Kanallar</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="channel-3" value=14>
                        <label for="channel-3">3-ci dərəcəli Kanallar</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="channel-Closed" value=15>
                        <label for="channel-Closed">Qapalı Kanallar</label>
                    </div>
                </div>

            </div>

            <div class="group mb-20">

                <strong class="d-block mb-10">Kollektor Drenaj Şəbəkəsi</strong>

                <div class="pl-10 Network">

                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="drenaj-Magistral" value=11>
                        <label for="drenaj-Magistral">Magistral kollektorlar</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="drenaj-1" value=6>
                        <label for="drenaj-1">1-ci dərəcəli kollektorlar</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="drenaj-2" value=7>
                        <label for="drenaj-2">2-ci dərəcəli yığıcı kollektorlar</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="drenaj-3" value=8>
                        <label for="drenaj-3">3-ci dərəcəli ilkin drenlər</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="drenaj-Closed" value=9>
                        <label for="drenaj-Closed">Qapalı drenlər</label>
                    </div>
                </div>

            </div>

            <div class="group mb-20">

                <strong class="d-block mb-10">Mühafizə bəndləri</strong>

                <div class="pl-10 riverband">
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="network-12" value=20>
                        <label for="network-12">Mühafizə Bəndləri</label>
                    </div>
                </div>

            </div>

            <div class="group mb-20">

                <strong class="d-block mb-10">Digər obyektlər</strong>
                <div class="pl-10 dbwell">
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="network-15" value=0>
                        <label for="network-15">Artezian Quyuları</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="network-16" value=4>
                        <label for="network-16">Müşahidə Quyuları</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="network-17" value=2>
                        <label for="network-17">Hidrotexniki Qurğular</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="network-18" value=1>
                        <label for="network-18">İdarələr</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="network-19" value=3>
                        <label for="network-19">Nasos Stansiyaları</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="network-20" value=19>
                        <label for="network-20">Binalar ve tikintilər</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="network-21" value=18>
                        <label for="network-21">İstismar yolları</label>
                    </div>
                    <div class="ckbox">
                        <input class="showmap" type="checkbox" id="network-14" value=5>
                        <label for="network-14">Qış otlaqları</label>
                    </div>
                </div>

            </div>

            @*<div class="group mb-20">

                    <strong class="d-block mb-10">Saatlı</strong>

                    <div class="pl-10">
                        <div class="ckbox">
                            <input type="checkbox" id="network-21">
                            <label for="network-21">Network name</label>
                        </div>

                        <div class="ckbox">
                            <input type="checkbox" id="network-22">
                            <label for="network-22">Network name</label>
                        </div>
                    </div>

                </div>*@

        </div>

        <div class="tab-panel scroll o-auto p-20" role="tabpanel" data-tab="layers">

            <div class="row as-7 xxs-5">

                <div class="col as-6 mb-20">
                    <label for="select-district">Rayonlar</label>
                    <select name="" id="select-district" class="input">
                        <option>Seç</option>
                        @foreach (var item in Model.Regions)
                        {
                            <option value="@item.Region_ID_1">@item.NAME_AZ</option>
                        }
                    </select>
                </div>

                <div class="col as-6 mb-20">
                    <label for="select-village">Kəndlər</label>
                    <select name="" id="select-village" class="input" disabled>
                        <option>Seç</option>
                        <option value="village-name">Village name</option>
                    </select>
                </div>

            </div>

            <div class="channels-list scroll o-auto">

                <strong class="d-block mb-10">Channel</strong>

                <div class="pl-10 CHannels">
                    @*<div class="ckbox">
                        <input type="radio" name="channels" id="channel-name-1">
                        <label for="channel-name-1">Channel name</label>
                    </div>*@
                </div>

            </div>

            <div class="devices mt-20">

                <strong class="d-block mb-10">Qurğular</strong>

                <div class="pl-10 DeviceList">
                    @*<div class="ckbox">
                        <input type="radio" name="devices" id="duke">
                        <label for="duke">Düker</label>
                    </div>*@
                </div>

            </div>

        </div>

    </div>


</aside>

<!-- Map wrap-->
<main class="map-wrap responsive w-100p tr-3s">
    <div id="mapDiv" style="width:100%; height:100vh">
    </div>
</main>

<!--<footer class="footer w-100p p-15 clear">

    <div class="map-navigator responsive pb-100 bg-white shadow float-left hide-xs hide-xxs mr-15"></div>

    <span class="float-left">
        <img src="" alt="şərti işarələr" height="40">
    </span>

    <strong class="maus-position float-right hide-xs hide-xxs">55.854689 76.11498</strong>

</footer>-->

<div class="alert-modal modal lg"
     data-modal="terms-of-use"
     data-open-animation="zoomIn"
     data-close-animation="zoomOut"
     role="dialog"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-content panel">
        <div class="panel-header">
            <span class="panel-title">İstifadəçi hüquqları</span>
        </div>

        <div class="panel-body p-40">
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam dignissimos doloribus, ipsum maiores reprehenderit vero. Ab aliquid, cupiditate dignissimos iure necessitatibus non obcaecati possimus quae quo vero. Amet, vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam dignissimos doloribus, ipsum maiores reprehenderit vero. Ab aliquid, cupiditate dignissimos iure necessitatibus non obcaecati possimus quae quo vero. Amet, vel?
            </p>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam dignissimos doloribus, ipsum maiores reprehenderit vero. Ab aliquid, cupiditate dignissimos iure necessitatibus non obcaecati possimus quae quo vero. Amet, vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam dignissimos doloribus, ipsum maiores reprehenderit vero. Ab aliquid, cupiditate dignissimos iure necessitatibus non obcaecati possimus quae quo vero. Amet, vel?
            </p>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam dignissimos doloribus, ipsum maiores reprehenderit vero. Ab aliquid, cupiditate dignissimos iure necessitatibus non obcaecati possimus quae quo vero. Amet, vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam dignissimos doloribus, ipsum maiores reprehenderit vero. Ab aliquid, cupiditate dignissimos iure necessitatibus non obcaecati possimus quae quo vero. Amet, vel?
            </p>
        </div>

        <div class="panel-footer text-center">
            <button class="btn bg-white no-border" data-close="terms-of-use">Bağla</button>
        </div>
    </div>

</div>

<!-- Scripts -->
<script src="~/Public/assets/js/jquery.min.js"></script>
<script src="~/Public/assets/js/pi.js"></script>

<script>
    var testList = [];
    $(document).ready(function () {
        MapFunction("topo");         
    });
    
    //Search
    $("#search-input").on("keyup click", function () {
        var searchitem = this.value;
        $.ajax({
            url: "/Home/Search",
            data: { name: searchitem },
            method: "post",
            type: "JSON",
            success: function (response) {
                var itemName = response.data;
                $(".src-result ul").remove();
                if (itemName.length > 10) {
                    for (var i = 0; i < 10; i++) {
                        $(".src-result").append("<ul class='type-none m-0 p-0' role='listbox' aria-hidden='true'><li role='listitem' class='pt-7 pb-7 pl-15 pr-15 pointer'><span class='line-camp line-1'><i aria-hidden='true' class='icon-map-pin mr-10'></i><span onclick=Takename(this) data-type='" + itemName[i].Type +"' data-id='" + itemName[i].Id+"'>" + itemName[i].Name + "</span></span></li></ul>")
                    }
                }
                else if (itemName.length < 10) {
                    for (var i = 0; i < itemName.length; i++) {
                        $(".src-result").append("<ul class='type-none m-0 p-0' role='listbox' aria-hidden='true'><li role='listitem' class='pt-7 pb-7 pl-15 pr-15 pointer'><span class='line-camp line-1'><i aria-hidden='true' class='icon-map-pin mr-10'></i><span onclick=Takename(this) data-type='" + itemName[i].Type +"' data-id='" + itemName[i].Id +"'>" + itemName[i].Name + "</span></span></li></ul>")
                    }
                }
                else {
                    $(".src-result").append("<ul class='type-none m-0 p-0' role='listbox' aria-hidden='true'><li role='listitem' class='pt-7 pb-7 pl-15 pr-15 pointer'><span class='line-camp line-1'><span>Uyğun nəticə tapılmadı</span></span></li></ul>")
                     
                }
            }
        })
    })    

    function Takename(e) {
        var text = $(e).text();
        var id = $(e).attr("data-id");
        var type = $(e).attr("data-type");

        $("#search-input").val(text);
        $("#search-input").attr("data-id", id)
        $("#search-input").attr("data-type", type)

        console.log($("#search-input").val())
    }

    

    var ListRegid = [];
    $(".SearchRegion .ckbox input").click(function () {
        var allregion = document.querySelectorAll(".SearchRegion .ckbox input");
        var all = document.getElementById("rayon-0")
        var count = $(this).attr("id");
        count = count.substring(6, count.length);
        if (count == 0) {
            if ($(all).is(":checked")) {
                for (var i = 0; i < allregion.length; i++) {
                    if (!$(allregion[i]).is(":checked")) {
                        $(allregion[i]).prop("checked", true);
                    }
                }
            }
            else {
                for (var i = 0; i < allregion.length; i++) {
                    if (i != 0) {
                        $(allregion[i]).prop("checked", false);
                    }
                }
            }
        }
        else {
            if ($(all).is(":checked")) {
                $(all).prop("checked", false);
            }
        }

        ListRegid = [];
        for (var i = 0; i < allregion.length; i++) {

            if ($(allregion[i]).is(":checked")) {
                var regionId = $(allregion[i]).attr("id")
                regionId = regionId.substring(6, regionId.length)
                ListRegid.push(regionId);
            }
        }
        //if (checkElementInArr(ListRegid, parseInt(count))) {
        //    var index = ListRegid.indexOf(parseInt(count));
        //    ListRegid.splice(index, 1);
        //} else {
        //    ListRegid.push(parseInt(count));
        //}
        if (ListRegid.length != 0) {
            $.ajax({
                url: "/Home/Village",
                data: { id: ListRegid },
                method: "post",
                type: "JSON",
                success: function (response) {
                    $(".villageSearch div").remove();
                    var village = response.data;
                    for (var i = 0; i < village.length; i++) {
                        for (var a = 0; a < village[i].Villages.length; a++) {
                            $(".villageSearch").append("<div class='menu-item'><div class='ckbox'><input type='checkbox' onclick='getIDvillage(this)' name='rayon' id='village-" + village[i].Villages[a].Municipality_ID + "'><label for='village-" + village[i].Villages[a].Municipality_ID + "'>" + village[i].Villages[a].NAME_AZ + "</label></div></div>")

                        }
                    }
                }
            })
        }
    });
    var ListVilid = [];
    function getIDvillage(a) {
        let count = $(a).attr("id");
        count = count.substring(8, count.length)
        console.log(count)
        if (checkElementInArr(ListVilid, parseInt(count))) {
            var index = ListVilid.indexOf(parseInt(count));
            ListVilid.splice(index, 1);
        } else {
            ListVilid.push(parseInt(count));
        }
    }

    var attrList = [];
    $("._Attrribut .ckbox input").click(function () {
        let count = $(this).attr("id");
        if (checkElementInArr(attrList, count)) {
            var index = attrList.indexOf(count);
            attrList.splice(index, 1);
        } else {
            attrList.push(count);
        }
    });
    

    $("#_Modalbutton").on("click", function () {
        var minvalue = parseInt($("#minvalue").val());
        var maxvalue = parseInt($("#maxvalue").val());
        //checkecd min value
        if (isNaN(minvalue)) {
            minvalue = 0;
        }
        //checked max value
        if (isNaN(maxvalue)) {
            maxvalue = 30;
        }
        if (ListRegid.length != 0 || ListVilid.length != 0) {
            $.ajax({
                url: "/Home/Attributes",
                data: { id: ListRegid, idVil: ListVilid, Attr: attrList, min: minvalue, max: maxvalue },
                method: "post",
                type: "JSON",
                success: function (response) {
                    var attributs = response.data;
                    $("._md-center table tr").remove();
                    $("._md-center table").append("<tr class='_tabel-rows'><th>Tip adı</th><th>Ümumi say</th><th>Ümumi uzunluq</th></tr>");
                    for (var i = 0; i < attributs.length; i++) {
                        $("._md-center table").append("<tr class='_tabel-rows'><td>" + attributs[i].TypeName + "</td><td>" + attributs[i].TypeCount + "</td><td>" + attributs[i].TypeLength + "</td></tr>");
                    }
                }
            })
            document.getElementById("_ModalContent").style.display = "block";
        }
    })
    $("._close-button").on("click", function () {
        document.getElementById("_ModalContent").style.display = "none";
    })
    $("#select-district").on("change", function () {
        var regionid = document.querySelector("#select-district").value;
        $(".DeviceList div").remove();
        $(".CHannels div").remove();
        $.ajax({
            url: "/Home/Village",
            data: { id: regionid },
            method: "post",
            dataType: "JSON",
            success: function (res) {
                var village = res.data;
                $("#select-village option").remove();
                $("#select-village").attr("disabled", false);
                for (var i = 0; i < village[0].Villages.length; i++) {
                    $("#select-village").append("<option value=" + village[0].Villages[i].Municipality_ID + ">" + village[0].Villages[i].NAME_AZ + "</option>")
                }
            }
        })
    })

    $("#select-village").on("change", function () {
        var villageID = document.querySelector("#select-village").value;
        $.ajax({
            url: "/Home/Laylar/" + villageID,
            method: "post",
            dataType: "JSON",
            success: function (res) {
                var DEvices = res.data.Device;
                $(".DeviceList div").remove();
                for (var i = 0; i < DEvices.length; i++) {
                    $(".DeviceList").append("<div class='ckbox'><input type='radio' onclick='Devicemap(this)'  name='devices' id='" + DEvices[i].OBJECTID + "'><label data-goe='" + DEvices[i].SHAPE + "' for='" + DEvices[i].OBJECTID + "'>" + DEvices[i].NAME + "</label></div>")

                }

                var Channels = res.data.Channels;
                $(".CHannels div").remove();
                for (var i = 0; i < Channels.length; i++) {
                    $(".CHannels").append("<div class='ckbox'><input type='radio' onclick='ChannelMap(this)' name='channels' id='chanel-" + Channels[i].OBJECTID + "'><label data-goe='" + Channels[i].SHAPE + "' for='chanel-" + Channels[i].OBJECTID + "'>" + Channels[i].NAME + "</label></div>")

                }

            }
        })
    })
    function Devicemap(e) {
        var DeviceKord = $(e).next().attr("data-goe");
        StringSplit(DeviceKord);
        lasttotallat(latarray, lonarray)

        Latitude = lastlat;
        Longitude = lastlon;
        zoommap = 12;
        MapFunction();

        lastlat = 0;
        lastlon = 0;
        latarray = [];
        lonarray = [];
    }
    function ChannelMap(e) {
        var channelkord = $(e).next().attr("data-goe")
        StringSplit(channelkord);
        console.log(latarray + "   " + lonarray)
        lasttotallat(latarray, lonarray)

        Latitude = lastlat;
        Longitude = lastlon;
        zoommap = 12;
        MapFunction();

        lastlat = 0;
        lastlon = 0;
        latarray = [];
        lonarray = [];
    }
    function checkElementInArr(array, value) {
        return array.indexOf(value) > -1;
    }
    var Listid = [];
    $(".RegionList .ckbox input").click(function () {

        var types = $(".showmap");
        for (var t = 0; t < types.length; t++) {
            $(types[t]).prop("checked", false);
        }

        var allregion = document.querySelectorAll(".RegionList .ckbox input");
        var all = document.getElementById("0000")
        let count = $(this).attr("id");
        if (count == "0000") {
            if ($(all).is(":checked")) {
                for (var i = 0; i < allregion.length; i++) {
                    if (!$(allregion[i]).is(":checked")) {
                        $(allregion[i]).prop("checked", true);
                    }
                }
            }
            else {
                for (var i = 0; i < allregion.length; i++) {
                    if (i != 0) {
                        $(allregion[i]).prop("checked", false);
                    }
                }
            }
        }
        else {
            if ($(all).is(":checked")) {
                $(all).prop("checked", false);
            }
        }
        Listid = [];
        for (var i = 0; i < allregion.length; i++) {
            if ($(allregion[i]).is(":checked")) {
                var regionId = $(allregion[i]).attr("id")
                Listid.push(regionId);
            }
        }
        //if (checkElementInArr(Listid, parseInt(count))) {
        //    var index = Listid.indexOf(parseInt(count));
        //    Listid.splice(index, 1);
        //} else {
        //    Listid.push(parseInt(count));
        //}

        //if (Listid.length != 0) {
        //    $.ajax({
        //        url: "/Home/All",
        //        data: { id: Listid },
        //        method: "post",
        //        type: "JSON",
        //        success: function (response) {
        //            var allData = response.data;

        //            //$(".Network div").remove();
        //            //$(".riverband div").remove();
        //            //$(".dbwell div").remove();                    
        //            //$("._Channel div").remove();
        //            //for (var c = 0; c < allData.ChannelTypes.length; c++) {
        //            //    console.log(allData.ChannelTypes[c].TYPE)
        //            //    if (allData.ChannelTypes[c].TYPE != null && allData.ChannelTypes[c].TYPE != " ") {
        //            //        var chaneltype
        //            //        if (parseInt(allData.ChannelTypes[c].TYPE)) {
        //            //            chaneltype = allData.ChannelTypes[c].TYPE + '-ci dərəcəli kollektorlar';
        //            //        }
        //            //        else {
        //            //            chaneltype = allData.ChannelTypes[c].TYPE
        //            //        }
        //            //        $("._Channel").append("<div class='ckbox'><input type='checkbox' onclick='func(this)' id='drej-" + allData.ChannelTypes[c].TYPE + "'><label  for='drej-" + allData.ChannelTypes[c].TYPE + "'>" + chaneltype + "</label></div>");

        //            //    }
        //            //}
        //            //for (var k = 0; k < allData.DrenajselectList.length; k++) {
        //            //    if (allData.DrenajselectList[k].DrejType !=null && allData.DrenajselectList[k].DrejType != " ") {
        //            //        var type;
        //            //        if (parseInt(allData.DrenajselectList[k].DrejType)) {
        //            //            type = allData.DrenajselectList[k].DrejType + '-ci dərəcəli kollektorlar';
        //            //        }
        //            //        else {
        //            //            type = allData.DrenajselectList[k].DrejType
        //            //        }
        //            //        $(".Network").append("<div class='ckbox'><input type='checkbox' onclick='func(this)' id='drej-" + allData.DrenajselectList[k].DrejType + "'><label  for='drej-" + allData.DrenajselectList[k].DrejType + "'>" + type + "</label></div>");
        //            //    }
        //            //    //$(".Network").append("<div class='ckbox'><input type='checkbox' onclick='func(this)' id='" + allData.DrenajselectList[k].OBJECTID + "'><label data-goe='" + allData.DrenajselectList[k].shape + "' for='" + allData.DrenajselectList[k].OBJECTID + "'>" + allData.DrenajselectList[k].NAME + "</label></div>");
                        
        //            //}
        //            //for (var j = 0; j < allData.RiverbandselectList.length; j++) {
        //            //    var rivertype;
        //            //    if (parseInt(allData.RiverbandselectList[j].Riverbandtype)) {
        //            //        var converttype = parseInt(allData.RiverbandselectList[j].Riverbandtype);
        //            //        rivertype = converttype + '-ci dərəcəli kollektorlar';
        //            //    }
        //            //    else {
        //            //        rivertype = allData.RiverbandselectList[j].Riverbandtype
        //            //    }
        //            //    $(".riverband").append("<div class='ckbox'><input type='checkbox' onclick='func(this)' id='rver-" + allData.RiverbandselectList[j].Riverbandtype + "'><label for='rver-" + allData.RiverbandselectList[j].Riverbandtype + "'>" + rivertype + "</label></div>");
        //            //}
        //            //for (var t = 0; t < allData.WellselectList.length; t++) {
        //            //    if (allData.WellselectList[t].WellType!=" ") {
        //            //        $(".dbwell").append("<div class='ckbox'><input type='checkbox' onclick='func(this)' id='well-" + allData.WellselectList[t].WellType + "'><label for='well-" + allData.WellselectList[t].WellType + "'>" + allData.WellselectList[t].WellType + "</label></div>");

        //            //    }
        //            //}
        //        }
        //    })
        //}
        //else {
        //    //$(".Network div").remove();
        //    //$(".riverband div").remove();
        //    //$(".dbwell div").remove();
        //}
    });

    var lastlat = 0;
    var lastlon = 0;
    var latarray = [];
    var lonarray = [];

    var networkselectlist = [];
    $(".showmap").on("click", function () {
        networkselectlist = [];
        var selecttype = $(".showmap");
        for (var i = 0; i < selecttype.length; i++) {
            if ($(selecttype[i]).is(":checked")) {
                networkselectlist.push(selecttype[i].id)
            }
        }
        if (Listid.length != 0 && networkselectlist.length != 0) {
            $.ajax({
                url: "/Home/MapShow",
                data: { id: Listid, networkselectlist: networkselectlist },
                method: "post",
                type: "JSON",
                success: function (response) {
                    var kordonats = response.data;
                    for (var i = 0; i < kordonats.SelectedChannels.length; i++){
                      
                    }      
                }
            })
        }

    })

    
    function StringSplit(word) {
        var lat = [];
        var lon = [];
        var splitword = word;
        var firstspit = splitword.indexOf("(") + 1;
        var lastsplit = splitword.indexOf(")");
        var splitword = splitword.substring(firstspit, lastsplit);
        var array = splitword.split(" ");
        for (var i = 0; i < array.length; i++) {
            if (i % 2 == 0) {
                lat.push(array[i])
            }
            else {
                var index = array[i]
                var lonelement = index.substring(0, index.length - 1)
                lon.push(lonelement)
            }
        }
        var totallat = 0;
        var y = 0;
        for (var i = 0; i < lat.length; i++) {
            var ylat = parseFloat(lat[i])
            if (!isNaN(ylat) && ylat.toString().indexOf(".") != -1 && ylat.toString().split(".")[0].length <= 2) {
                totallat += ylat;
                y++;
            }
        }
        if (totallat != 0) {
            latarray.push(totallat / y);
        }

        var totallon = 0;
        var x = 0;
        for (var i = 0; i < lon.length; i++) {
            var xlon = parseFloat(lon[i])
            if (!isNaN(xlon) && xlon.toString().indexOf(".") != -1 && xlon.toString().split(".")[0].length <= 2) {
                totallon += xlon;
                x++;
            }
        }
        if (totallon != 0) {
            lonarray.push(totallon / x);
        }
    }
    var totaln = 0;
    var totalt = 0;
    function lasttotallat(arraylat, arraylon) {
        for (var i = 0; i < arraylat.length; i++) {
            totalt += arraylat[i]
        }
        lastlat = totalt / arraylat.length;
        totalt = 0;

        for (var i = 0; i < arraylon.length; i++) {
            totaln += arraylon[i]
        }
        lastlon = totaln / arraylon.length;
        totaln = 0;
    }

</script>
<script>

    const $body = $('body');

    $('.side-toggle').on('click', function () {
        $body.toggleClass('side-shown');
        if ($body.hasClass('side-shown')) {
            $(this).attr('aria-expanded', 'true');
        } else {
            $(this).attr('aria-expanded', 'false');
        }
    });

    $('.search-toggle').on('click', function () {
        $body.toggleClass('search-open');
    });

    $('*').click(function (e) {

        /*if (!$(e.target).is('.side-toggle')
            && !$(e.target).is('.side-toggle *')
            && !$(e.target).is('.side-menu')
            && !$(e.target).is('.side-menu *')) {
            $body.removeClass('side-shown');
        }*/

        if (!$(e.target).is('#search-input')
            && !$(e.target).is('#search-input *')) {
            $searchFilter.attr('hidden', true);
        }
    });

    const $searchFilter = $('.search-filter');
    const $searchInput = $('#search-input');

    $searchInput.on('focus', function () {
        $searchFilter.attr('hidden', false);
    });

</script>

</body>

</html>
